.version.nodos /* version checker */
{
	color: #0000EB;
	background-color: #888254;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 929.7749999999999px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -65px;
	width: 0.01px;/* should not cover content below */
}

#pu6494
{
	width: 0.01px;
	padding-bottom: 933px;
	margin-left: -100px;
}

#u6494
{
	z-index: 103;
	width: 60px;
	height: 933px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u13192
{
	z-index: 268;
	width: 26px;
	position: fixed;
	top: 17px;
	left: 20px;
}

#u13192:hover
{
	width: 26px;
	min-height: 0px;
	margin: 0px;
}

#u6492
{
	z-index: 269;
	margin-bottom: -66px;
}

#ppu13996
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -900px;
}

#pu13996
{
	width: 0.01px;
	margin-right: -10000px;
}

#u13996
{
	z-index: 2;
	width: 358px;
	border-style: solid;
	border-width: 1px;
	border-color: #EBEBEB;
	background-color: #FFFFFF;
	border-radius: 4px;
	margin-left: 401px;
	position: relative;
}

#u13998
{
	z-index: 7;
	width: 61px;
	height: 61px;
	border-color: #EBEBEB;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: #E41635 url("../images/medicion_normal-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u13998
{
	background-image: url('../images/medicion_normal-01_poster_u14278.png');
}

#u13997-4
{
	z-index: 3;
	width: 255px;
	min-height: 29px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	text-align: center;
	color: #E41635;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 83px;
}

#pu14257
{
	width: 0.01px;
	margin-top: 21px;
}

#u14257
{
	z-index: 8;
	width: 697px;
	min-height: 880px;
	border-style: solid;
	border-width: 1px;
	border-color: #E41635;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 61px;
}

#pamphletu6495
{
	z-index: 108;
	width: 0.01px;
	height: 293px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
}

#u6496
{
	position: absolute;
	width: 498px;
	padding-bottom: 1133px;
	top: -165px;
	left: 59px;
}

#u6496popup
{
	z-index: 109;
}

#u6548
{
	z-index: 110;
	width: 409px;
	height: 1034px;
	position: fixed;
	top: 0px;
	left: 60px;
	padding: 37px 37px 345px 40px;
}

#u6554-4
{
	z-index: 125;
	width: 150px;
	min-height: 145px;
	margin-left: 110px;
	position: relative;
}

#u6555-6
{
	z-index: 119;
	width: 264px;
	min-height: 62px;
	margin-left: 51px;
	margin-top: 4px;
	position: relative;
}

#pu6549
{
	width: 0.01px;
	margin-left: 103px;
	margin-top: 14px;
}

#u6549
{
	z-index: 129;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
}

#u6550
{
	z-index: 130;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u6553
{
	z-index: 131;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u6549:hover,#u6550:hover,#u6553:hover
{
	width: 37px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6552-8
{
	z-index: 111;
	width: 409px;
	min-height: 510px;
	margin-top: 56px;
	position: relative;
}

#u6510
{
	z-index: 132;
	width: 486px;
	height: 1207px;
	padding-right: 1px;
	padding-bottom: 209px;
	position: fixed;
	top: 0px;
	left: 60px;
}

#u6516
{
	z-index: 134;
	width: 486px;
	position: relative;
}

#buttonu6536
{
	z-index: 135;
	width: 410px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	padding: 39px 43px 16.350000000000136px 32px;
}

#buttonu6536:hover
{
	width: 410px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu6536:active
{
	width: 410px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6538-4
{
	z-index: 136;
	width: 410px;
	min-height: 29px;
	position: relative;
}

#buttonu6536:hover #u6538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 410px;
	margin: 0px;
}

#buttonu6536:active #u6538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 410px;
	margin: 0px;
}

#buttonu6536.ButtonSelected #u6538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 410px;
	margin: 0px;
}

#u6537-4
{
	z-index: 140;
	width: 390px;
	min-height: 38px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#buttonu6536:hover #u6537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 390px;
	margin: 0px 0px -5px;
}

#buttonu6536:active #u6537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 390px;
	margin: 0px 0px -5px;
}

#buttonu6536.ButtonSelected #u6537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 390px;
	margin: 0px 0px -5px;
}

#u14320
{
	z-index: 144;
	width: 83px;
	height: 83px;
	margin-left: 2px;
	margin-top: 16px;
	position: relative;
}

#buttonu6536:hover #u14320
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 16px 0px 0px 2px;
}

#buttonu6536:active #u14320
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 16px 0px 0px 2px;
}

#buttonu6536.ButtonSelected #u14320
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 16px 0px 0px 2px;
}

#u6529
{
	z-index: 167;
	width: 486px;
	padding-bottom: 1px;
	position: relative;
}

#buttonu9294
{
	z-index: 209;
	width: 412px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	padding: 43px 42px 15px 31px;
}

#buttonu9294:hover
{
	width: 412px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#buttonu9294:active
{
	width: 412px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#buttonu9294.ButtonSelected
{
	width: 412px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u9296-4
{
	z-index: 210;
	width: 410px;
	min-height: 18px;
	margin-left: 2px;
	position: relative;
}

#buttonu9294:hover #u9296-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 410px;
	margin: 0px 0px 0px 2px;
}

#buttonu9294:active #u9296-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 410px;
	margin: 0px 0px 0px 2px;
}

#buttonu9294.ButtonSelected #u9296-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 410px;
	margin: 0px 0px 0px 2px;
}

#u9297-4
{
	z-index: 214;
	width: 324px;
	min-height: 19px;
	margin-top: 16px;
	position: relative;
}

#buttonu9294:hover #u9297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 324px;
	margin: 16px 0px 0px;
}

#buttonu9294:active #u9297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 324px;
	margin: 16px 0px 0px;
}

#buttonu9294.ButtonSelected #u9297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 324px;
	margin: 16px 0px 0px;
}

#u14323
{
	z-index: 218;
	width: 83px;
	height: 83px;
	margin-left: 3px;
	margin-top: 8px;
	position: relative;
}

#buttonu9294:hover #u14323
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 8px 0px 0px 3px;
}

#buttonu9294:active #u14323
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 8px 0px 0px 3px;
}

#buttonu9294.ButtonSelected #u14323
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 8px 0px 0px 3px;
}

#u6528
{
	z-index: 145;
	width: 486px;
	position: relative;
}

#buttonu6530
{
	z-index: 146;
	width: 410px;
	position: relative;
	margin-right: -10000px;
	padding: 31px 44px 6.050000000000125px 32px;
}

#buttonu6536.ButtonSelected,#buttonu6530:hover
{
	width: 410px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu6530:active
{
	width: 410px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6533-4
{
	z-index: 147;
	width: 410px;
	min-height: 37px;
	position: relative;
}

#buttonu6530:hover #u6533-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 410px;
	margin: 0px;
}

#buttonu6530:active #u6533-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 410px;
	margin: 0px;
}

#u6534-4
{
	z-index: 151;
	width: 382px;
	min-height: 38px;
	position: relative;
}

#buttonu6530:hover #u6534-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 382px;
	margin: 0px;
}

#buttonu6530:active #u6534-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 382px;
	margin: 0px;
}

#buttonu6530.ButtonSelected #u6534-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 382px;
	margin: 0px;
}

#u14326
{
	z-index: 155;
	width: 83px;
	height: 83px;
	margin-left: 3px;
	margin-top: 5px;
	position: relative;
}

#buttonu6530:hover #u14326
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 5px 0px 0px 3px;
}

#buttonu6530:active #u14326
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 5px 0px 0px 3px;
}

#buttonu6530.ButtonSelected #u14326
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 5px 0px 0px 3px;
}

#u8576
{
	z-index: 156;
	width: 486px;
	position: relative;
}

#buttonu8577
{
	z-index: 157;
	width: 410px;
	position: relative;
	margin-right: -10000px;
	padding: 52px 42px 17px 33px;
}

#buttonu6530.ButtonSelected,#buttonu8577:hover
{
	width: 410px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu8577:active
{
	width: 410px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu8577.ButtonSelected
{
	width: 410px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8580-4
{
	z-index: 158;
	width: 410px;
	min-height: 37px;
	position: relative;
}

#buttonu6530.ButtonSelected #u6533-4,#buttonu8577:hover #u8580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 410px;
	margin: 0px;
}

#buttonu8577:active #u8580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 410px;
	margin: 0px;
}

#buttonu8577.ButtonSelected #u8580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 410px;
	margin: 0px;
}

#u8581-4
{
	z-index: 162;
	width: 390px;
	min-height: 38px;
	position: relative;
}

#buttonu8577:hover #u8581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 390px;
	margin: 0px;
}

#buttonu8577:active #u8581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 390px;
	margin: 0px;
}

#buttonu8577.ButtonSelected #u8581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 390px;
	margin: 0px;
}

#u14329
{
	z-index: 166;
	width: 83px;
	height: 83px;
	margin-left: 2px;
	margin-top: 22px;
	position: relative;
}

#buttonu8577:hover #u14329
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 22px 0px 0px 2px;
}

#buttonu8577:active #u14329
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 22px 0px 0px 2px;
}

#buttonu8577.ButtonSelected #u14329
{
	width: 83px;
	height: 83px;
	min-height: 0px;
	margin: 22px 0px 0px 2px;
}

#pu6535
{
	width: 0.01px;
	margin-left: 2px;
}

#u6535
{
	z-index: 133;
	width: 483px;
	height: 266px;
	position: relative;
	margin-right: -10000px;
}

#widgetu6519
{
	z-index: 168;
	width: 0.01px;
	height: 121px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 40px;
}

#u6523-17
{
	z-index: 169;
	min-height: 35px;
	width: 129px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 1px;
}

#widgetu6524
{
	z-index: 186;
	width: 402px;
	height: 52px;
	position: relative;
	margin-right: -10000px;
}

#widgetu6524.fld-err-st
{
	width: 402px;
	height: 52px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6526-4
{
	z-index: 187;
	width: 392px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	padding: 5px 0px 5px 10px;
}

#widgetu6524:hover #u6526-4
{
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 42px;
	width: 392px;
	margin: 0px -10000px 0px 0px;
}

#widgetu6524.focus-st #u6526-4
{
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 42px;
	width: 392px;
	margin: 0px -10000px 0px 0px;
}

#widgetu6524.fld-err-st #u6526-4
{
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 42px;
	width: 392px;
	margin: 0px -10000px 0px 0px;
}

#widgetu6524_input,#widgetu6524_prompt
{
	width: 392px;
	min-height: 42px;
	padding: 5px 0px 5px 10px;
}

#widgetu6524:hover #widgetu6524_input,#widgetu6524.focus-st #widgetu6524_input,#widgetu6524.fld-err-st #widgetu6524_input,#widgetu6524:hover #widgetu6524_prompt,#widgetu6524.focus-st #widgetu6524_prompt,#widgetu6524.fld-err-st #widgetu6524_prompt
{
	padding-top: 5px;
	padding-bottom: 5px;
}

#u6520-4
{
	z-index: 191;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 159px;
}

#u6522-4
{
	z-index: 195;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 159px;
}

#u6521-4
{
	z-index: 199;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 159px;
}

#u6517-6
{
	z-index: 203;
	width: 423px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 23px;
}

#u6541
{
	z-index: 219;
	width: 497px;
	height: 992px;
	padding-right: 1px;
	padding-bottom: 141px;
	position: fixed;
	top: -1px;
	left: 59px;
}

#u6542
{
	z-index: 220;
	width: 496px;
	padding-bottom: 24px;
	margin-left: 1px;
	position: relative;
}

#u6547-6
{
	z-index: 233;
	width: 285px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 40px;
}

#u6546-5
{
	z-index: 239;
	width: 434px;
	min-height: 163px;
	margin-left: 32px;
	margin-top: 19px;
	position: relative;
}

#pu6545
{
	width: 0.01px;
	margin-top: 52px;
}

#u6545
{
	z-index: 221;
	width: 496px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
}

#u6543-11
{
	z-index: 222;
	width: 414px;
	min-height: 68px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 32px;
}

#u6544
{
	z-index: 244;
	width: 496px;
	height: 290px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u6556
{
	z-index: 245;
	width: 60px;
	padding-bottom: 293px;
	position: relative;
	margin-right: -10000px;
}

#u6559
{
	width: 60px;
	padding-bottom: 17px;
	position: fixed;
	top: 164px;
	left: 0px;
}

#u6560-8
{
	z-index: 247;
	width: 58px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 2px;
}

#u6559:hover #u6560-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 58px;
	margin: 59px -10000px 0px 0px;
}

#u6559.PamphletThumbSelected #u6560-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 58px;
	margin: 59px -10000px 0px 0px;
}

#pu6557
{
	position: absolute;
	width: 0.01px;
	padding-bottom: 94px;
	top: 100px;
}

#u6557
{
	width: 60px;
	height: 92px;
	position: fixed;
	top: 264px;
	left: 0px;
}

#pu6557.PamphletThumbSelected #u6557
{
	width: 60px;
	height: 93px;
	position: fixed;
	top: 264px;
	left: 0px;
	min-height: 1px;
}

#u6558-5
{
	z-index: 257;
	width: 54px;
	min-height: 25px;
}

#pu6557:hover #u6558-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 54px;
}

#pu6557.PamphletThumbSelected #u6558-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 54px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 3px;
	min-height: 25px;
}

#pu6557 #u6558-5
{
	position: relative;
	width: 54px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 3px;
}

#u6561
{
	width: 60px;
	padding-bottom: 20px;
	position: fixed;
	top: 357px;
	left: 0px;
}

#u6559.PamphletThumbSelected,#u6561.PamphletThumbSelected
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u6562-4
{
	z-index: 264;
	width: 54px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 3px;
}

#u6561:hover #u6562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 68px -10000px 0px 0px;
}

#u6561.PamphletThumbSelected #u6562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 68px -10000px 0px 0px;
}

#u19371
{
	z-index: 10;
	width: 391px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-right: 1px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 768px;
}

#u19039
{
	z-index: 11;
	width: 262px;
	min-height: 45px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin-left: 28px;
	position: relative;
}

#pamphletu19099
{
	z-index: 12;
	width: 0.01px;
	height: 93px;
	padding-bottom: 705px;
	margin-top: 29px;
	position: relative;
}

#u19108
{
	position: absolute;
	width: 392px;
	background-color: transparent;
}

#u19108popup
{
	z-index: 13;
}

#u19109
{
	z-index: 14;
	width: 390px;
	height: 797px;
	border-style: solid;
	border-width: 1px;
	border-color: #E41635;
	background-color: #FFFFFF;
	border-radius: 30px;
	margin-right: -10000px;
	position: relative;
}

#u19109_position_content
{
	margin-top: -1px;
	margin-bottom: -71px;
	width: 100%;
}

#u19368
{
	z-index: 15;
	width: 391px;
	background-color: #E41635;
	border-radius: 30px 30px 0px 0px ;
	padding-bottom: 13px;
	left: -1px;
	position: relative;
}

#u19362-4
{
	z-index: 20;
	width: 301px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 63px;
}

#pu19111
{
	width: 0.01px;
	margin-left: 4px;
}

#u19111
{
	z-index: 16;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 361px;
	left: 135px;
}

#u19110
{
	z-index: 18;
	width: 60px;
	min-height: 64px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 140px;
}

#u19357
{
	z-index: 19;
	width: 382px;
	min-height: 815px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

.Europeanana
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#u19100
{
	z-index: 24;
	width: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 320px;
}

#u19101
{
	position: absolute;
	width: 70px;
	height: 70px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-style: solid;
	border-width: 1px;
	border-color: #C1272D;
	border-radius: 501px;
	background: #DCDCDC url("../images/europeana_normal-01.svg") no-repeat center center;
	background-size: contain;
}

#u19101:hover
{
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #DCDCDC;
	width: 70px;
	height: 70px;
	min-height: 0px;
	margin: 0px;
	background: #C1272D url("../images/europeana_over-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u19101:hover
{
	background-image: url('../images/europeana_over-01_poster_u19243.png');
}

#u19101.PamphletThumbSelected
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #C1272D;
	width: 70px;
	height: 70px;
	min-height: 0px;
	margin: 0px;
	background: #DCDCDC url("../images/europeana_normal-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u19101,.nosvg #u19101.PamphletThumbSelected
{
	background-image: url('../images/europeana_normal-01_poster_u19174.png');
}

#u19104
{
	position: absolute;
	width: 31px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 30px;
	padding-bottom: 5px;
	top: 10px;
	left: 12px;
}

#u19104:hover
{
	background-color: #7F7F7F;
	width: 31px;
	min-height: 0px;
	margin: 0px;
}

#u19104:active
{
	background-color: #6B6B6B;
	width: 31px;
	min-height: 0px;
	margin: 0px;
}

#u19105-4
{
	z-index: 27;
	width: 22px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #E41635;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u18949
{
	z-index: 9;
	width: 473px;
	height: 49px;
	margin-left: 275px;
	margin-top: 16px;
	position: relative;
}

.ie #u18949
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6573
{
	z-index: 104;
	width: 200px;
	min-height: 30px;
	left: -336px;
	top: -704px;
	margin-bottom: -30px;
	position: relative;
}

#u6575
{
	z-index: 105;
	width: 200px;
	min-height: 30px;
	left: -331px;
	top: -652px;
	margin-bottom: -30px;
	position: relative;
}

#u6490
{
	z-index: 107;
	width: 200px;
	min-height: 30px;
	left: -331px;
	top: -608px;
	margin-bottom: -30px;
	position: relative;
}

#pu6488
{
	width: 0.01px;
	margin-left: -312px;
	margin-top: -543px;
}

#u6488
{
	z-index: 32;
	width: 50px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u6571
{
	z-index: 106;
	width: 60px;
	min-height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 84px;
}

#pu18879
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 3px;
}

#u18879_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 15px;
	padding-bottom: 59px;
}

#pu6820-4
{
	width: 0.01px;
	left: 130px;
	position: relative;
}

#u6820-4
{
	z-index: 42;
	width: 224px;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
}

#u6896-4
{
	z-index: 99;
	width: 213px;
	position: relative;
	margin-right: -10000px;
	left: 704px;
}

#u6819-4
{
	z-index: 38;
	width: 419px;
	left: 129px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#pu6884
{
	width: 0.01px;
	left: 864px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u6884
{
	z-index: 87;
	width: 22px;
	position: relative;
	margin-right: -10000px;
}

#u6886
{
	z-index: 89;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u6888
{
	z-index: 91;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u6890
{
	z-index: 93;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	left: 94px;
}

#u6892
{
	z-index: 95;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#u6894
{
	z-index: 97;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 159px;
}

#u6762
{
	z-index: 46;
	width: 135px;
	height: 34px;
	left: 685px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u18879,#u18879-bw
{
	z-index: 31;
	min-height: 209px;
}

#widgetu6871
{
	z-index: 47;
	width: 0.01px;
	height: 179px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 605px;
}

#widgetu6872
{
	z-index: 48;
	width: 218px;
	height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu6872.fld-err-st
{
	width: 218px;
	height: 41px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u6875-4
{
	z-index: 49;
	width: 204px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	padding: 14px 6px 6px;
}

#widgetu6872:hover #u6875-4
{
	padding-top: 14px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu6872.focus-st #u6875-4
{
	padding-top: 14px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu6876
{
	z-index: 53;
	width: 218px;
	height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: -1px;
}

#widgetu6876.fld-err-st
{
	width: 218px;
	height: 41px;
	min-height: 0px;
	margin: 52px -10000px 0px 0px;
}

#u6877-4
{
	z-index: 54;
	width: 204px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	padding: 14px 6px 6px;
}

#widgetu6872.fld-err-st #u6875-4,#widgetu6876:hover #u6877-4
{
	padding-top: 14px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu6876.focus-st #u6877-4
{
	padding-top: 14px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu6876.fld-err-st #u6877-4
{
	padding-top: 14px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#widgetu6872_input,#widgetu6872_prompt,#widgetu6876_input,#widgetu6876_prompt
{
	width: 204px;
	min-height: 19px;
	padding: 14px 6px 6px;
}

#widgetu6872:hover #widgetu6872_input,#widgetu6872.focus-st #widgetu6872_input,#widgetu6872.fld-err-st #widgetu6872_input,#widgetu6872:hover #widgetu6872_prompt,#widgetu6872.focus-st #widgetu6872_prompt,#widgetu6872.fld-err-st #widgetu6872_prompt,#widgetu6876:hover #widgetu6876_input,#widgetu6876.focus-st #widgetu6876_input,#widgetu6876.fld-err-st #widgetu6876_input,#widgetu6876:hover #widgetu6876_prompt,#widgetu6876.focus-st #widgetu6876_prompt,#widgetu6876.fld-err-st #widgetu6876_prompt
{
	padding-top: 14px;
	padding-bottom: 6px;
}

#u6880-4
{
	z-index: 58;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 8px;
}

#u6881-4
{
	z-index: 62;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 8px;
}

#u6882-4
{
	z-index: 66;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 8px;
}

#widgetu6519.frm-sub-st #u6520-4,#widgetu6519.frm-subm-err-st #u6522-4,#widgetu6519.frm-subm-ok-st #u6521-4,#widgetu6871.frm-sub-st #u6880-4,#widgetu6871.frm-subm-err-st #u6881-4,#widgetu6871.frm-subm-ok-st #u6882-4
{
	min-height: 25px;
}

#u6883-17
{
	z-index: 70;
	min-height: 35px;
	width: 136px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 77px;
}

#u6818
{
	z-index: 33;
	min-height: 32px;
	padding-bottom: 30px;
}

#u6818_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u6761-4
{
	z-index: 34;
	width: 485px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 350px;
}

#u6818-bw
{
	z-index: 33;
	min-height: 32px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 64px;
}

