body{
    margin:0px;
}

.node {
    cursor: pointer;

    /*stroke:  darkslategray;*/
    /*stroke-width: 1.5px;*/
}


.nodeCircle
{
    /*stroke:  #cccccc;*/
    /*stroke:black;*/
    /*color:#cccccc;*/
    /*stroke-width: 5px;*/
}


.link {
    fill: none;
    stroke:  #cccccc;;
    stroke-width: 1.5px;
    opacity:.6;
}

.label {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    /*stroke:black;*/
    font-weight:bold;
    fill:black;
    /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
}





.nameText {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*fill:#280E11;*/
    fill:black;
    opacity:.6;
    /*fill:white;*/
    text-anchor: middle;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
}

.large {
    font-size: 100%;
    font-weight: 800;

}

/*Text Box*/
.bodyContainer {
    position: relative;
    -webkit-transition: top .3s ease-in-out;
    -moz-transition: top .3s ease-in-out;
    -ms-transition: top .3s ease-in-out;
    -o-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
    width: 100%;
    /*background:blue;*/
    height:100%;
}

.textBoxContainer {

    /*position: relative;*/
    position:absolute;
    left:0;
    top:0px;
    margin: 0 auto;
    /*padding: 5px;*/
    /*max-width: 1156px;*/
    /*min-width: 320px;*/

    height:100%;

    /*background:green;*/
    /*min-width:400px;*/
    /*max-width:500px;*/

    border-left:1px solid lightgray;
}



.textBox {
    /*color: #606060;*/
    /*background: #e6e9ea;*/
    background:#EEEEEE;
    /*background:white;*/


    position: fixed;
    right:-380px;

    -webkit-transition: left .3s ease-in-out,right .3s ease-in-out,width .3s ease-in-out,opacity .1s ease-in-out;
    -moz-transition: left .3s ease-in-out,right .3s ease-in-out,width .3s ease-in-out,opacity .1s ease-in-out;
    -ms-transition: left .3s ease-in-out,right .3s ease-in-out,width .3s ease-in-out,opacity .1s ease-in-out;
    -o-transition: left .3s ease-in-out,right .3s ease-in-out,width .3s ease-in-out,opacity .1s ease-in-out;
    transition: left .3s ease-in-out,right .3s ease-in-out,width .3s ease-in-out,opacity .1s ease-in-out;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    /*right: 0;*/
    overflow: auto;


    /*background: #fff;*/
    z-index: 20;

    box-sizing: border-box;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #A6A6A6;




    font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica;
    font-size: 14px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #A6A6A6;

    height: 100%;

    width:257px;

    text-align: left;
    line-height: 1.5rem;
    padding:0px 20px 10px 20px;


    box-shadow: 0px 0px 6px rgba(0,0,0,0.2)

    overflow:auto;

    /*background:yellow;*/

}

/*#headingSection {*/
/*border-bottom: 1px solid;*/
/*border-bottom-color:grey;*/
/*}*/

/*.headingSection {*/
    /*background:#bebebe;*/
    /*padding:0px 20px 10px 20px;*/
/*}*/

/*.headingSection p {*/

    /*-webkit-margin-before: 0em;*/
    /*padding-top:1em;*/
/*}*/


/*New Text Box*/

.mainContainer2{
    height:100%;

}

.textBoxContainer2{
    position:relative;
    height:100%;
    /*height:20px;*/
    width:400px;
}


.heading {
    font-size: 15px;
    font-weight:bold;
}

.separator{
    width:100%;
    height:1px;
}

.svgclass1{
    width:650px;
    height:700px;
    border: 1 px;
    bordercolor:black;
}

.svgContainer{
    width:40%;

}

.content{
    margin-bottom:10px;
}

.contentDiv {
    margin-bottom:20px;

}

.border1{
    border-bottom: 1px solid lightgray;
}

.headerBold {
    font-weight:800;
}

.loadTitles{
    position:absolute;
    color:grey;
    font-size:14px;
    top:50px;
    right:15px;
    cursor: pointer;
}

.controlPanel{
    position:fixed;
    top:73px;
    left:1px;
    font-size:14px;
    color:lightgray;
    height:2em;
    width:3em;
    cursor: pointer;
    line-height:3em;
}

.button{
    font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", "Verdana", "Helvetica","Times","Arial Unicode MS","EversonMono";
    font-size: 40px;
    font-color:lightgray;
    text-align: center;
    margin:0px;
}

.buttonImage{
    width:40px;
    height:40px;
    opacity:.2
}

.noteClick{
    width:3em;
    height:1em;
    font-weight:200;
    cursor: pointer;
    color:lightblue;
    padding-left:15px;
}

.noteContainer {
    font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica;
    font-size:13px;
    position:fixed;
    top:75px;
    left:100px;
    width:1px;
    height:1px;
    padding:30px;
    line-height: 2em;
    background:lightgray;
    border:1px solid darkgrey;
    visiblity:hidden;
    opacity:0;
    cursor: pointer;
    display: block;
    overflow: auto;
}

.noteContainerText {

    width:100%;
    height:100%;

}

.loading{
    font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica;
    font-size:18px;
    position:absolute;
    top:100px;
    left:480px;
    color:lightgrey;
    visibility:visible;
}

.collapseTitle{
    position:absolute;
    top:5px;
    left:5px;
    color:lightgrey;
    font-size:10px;
    cursor:pointer;
    z-index:200;
}