.topContainer {

    position:relative;
    z-index: 100;

    height: 70px;

    font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;

    top:0px;
    padding: 0px 0px;

}

.header1{
    position:fixed;
    top:0px;

    width:100%;

    background:white;
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-top:12px;

}

.container1 {

    padding-right: 15px;
    padding-left: 15px;
    padding-bottom:8px;
    padding-top:0px;
    margin-right: auto;

    margin-left:50px;

}

.title-container{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-weight: inherit;
    font-style: inherit;

    vertical-align: baseline;

    font: 28px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;

    box-sizing: border-box;

    display:block;

    line-height: 1.3;
    color: #333;

}

.sub-heading{
    font-size: 70%;
    line-height: 1;

}