.h1
{
	font-family: raleway-n1, sans-serif;
}

.h2
{
	font-family: bebas-neue-n4, sans-serif;
}

.BodyCopy
{
	font-family: source-sans-pro-n3, sans-serif;
}

.estilo_titulo,.heading2
{
	font-family: quicksand-n7, sans-serif;
}

.heading1
{
	font-family: quicksand-n4, sans-serif;
}

.bodytext-white,.bodytext-gray,.footertext
{
	font-family: open-sans-n4, sans-serif;
}

.heading3,.stroke_type1
{
	font-family: open-sans-n6, sans-serif;
}

.overlay1
{
	font-family: open-sans-n3, sans-serif;
}

#u6555-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6526-4
{
	font-family: raleway-n1, sans-serif;
}

#widgetu6524_input,#widgetu6524_prompt
{
	font-family: raleway, sans-serif;
}

#widgetu6519.frm-subm-ok-st #u6521-4 p,#u6521-4
{
	font-family: raleway-n4, sans-serif;
}

#u6538,#u9296,#u6533,#u8580,#u6517-6,#u6547-2
{
	font-family: lato-n7, sans-serif;
}

#u6555-2,#u6547-4
{
	font-family: lato-n3, sans-serif;
}

#u6552-8,#u6546-5,#u6543-11
{
	font-family: open-sans-n3, sans-serif;
}

#u6560-8
{
	font-family: raleway-n4, sans-serif;
}

#u6558-5
{
	font-family: raleway-n4, sans-serif;
}

#u6562-4
{
	font-family: raleway-n4, sans-serif;
}

#u6875-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6877-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu6872_input,#widgetu6872_prompt,#widgetu6876_input,#widgetu6876_prompt
{
	font-family: open-sans, sans-serif;
}

#u6896-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6761-4
{
	font-family: open-sans-n6, sans-serif;
}

#u14015-4
{
	font-family: lato-n7, sans-serif;
}

