.nav_bg
{
	border-width: 0px;
	border-color: #000000;
	background-color: #EBEBEB;
}

#u13192
{
	background: transparent url("../images/titulo%20skos-03.svg") no-repeat left top;
	background-size: contain;
}

#u13192:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background-size: contain;
}

.nosvg #u13192
{
	background-image: url('../images/titulo%20skos-03_poster_u13687.png');
}

.fixed
{
	border-width: 0px;
	border-color: #000000;
	background-color: #E51937;
}

#u6554-4
{
	border-radius: 300px 300px 0px 0px ;
	background: transparent url("../images/escudo_udsvg-ieu6554-4-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/escudo_udsvg.png") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#u6555-6
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
}

#u6555-2
{
	font-size: 26px;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u6555-4
{
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u6549
{
	border-width: 0px;
	border-color: #9B9B9B;
	border-radius: 0px;
	background: transparent url("../images/social_fb_sprite.svg") no-repeat center bottom;
	background-size: cover;
}

.social_btn
{
	border-width: 1px;
	border-color: #2B2B2B;
	border-radius: 200px;
	background: transparent url("../images/social_tw_sprite-ieu6549-fr.png") no-repeat center top;
	background: rgba(0,0,0,0) url("../images/social_tw_sprite.png") no-repeat center top;
	background-color: transparent;
	background-size: cover;
}

.nosvg #u6549
{
	background-image: url('../images/social_fb_sprite_poster_u3137.png');
}

#u6550
{
	border-width: 0px;
	border-color: #9B9B9B;
	border-radius: 0px;
	background: transparent url("../images/social_twitter_sprite.svg") no-repeat center bottom;
	background-size: cover;
}

.nosvg #u6550
{
	background-image: url('../images/social_twitter_sprite_poster_u3149.png');
}

#u6553
{
	border-width: 0px;
	border-color: #9B9B9B;
	border-radius: 0px;
	background: transparent url("../images/social_insta_sprite.svg") no-repeat center bottom;
	background-size: cover;
}

#u6549:hover,#u6550:hover,#u6553:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	border-color: #FFFFFF;
	background-size: cover;
}

.nosvg #u6553
{
	background-image: url('../images/social_insta_sprite_poster_u3143.png');
}

#u6510
{
	border-width: 0px;
	border-color: transparent;
}

#u6516
{
	background: #FFFFFF url("../images/14972-nq16vm-01.png") no-repeat center center;
	background-size: cover;
}

#buttonu6536
{
	border-width: 0px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	-pie-background: rgba(0,0,0,0.4);
}

#buttonu6536:hover
{
	background-color: #E62D49;
	background-color: rgba(228,22,53,0.9);
	-pie-background: rgba(228,22,53,0.9);
}

#buttonu6536:active
{
	background-color: #E41635;
	background-color: rgba(228,22,53,1);
	-pie-background: rgba(228,22,53,1);
}

#buttonu6536.ButtonSelected
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	-pie-background: rgba(0,0,0,0.4);
}

#u6538-4
{
	background-color: transparent;
	text-align: left;
	font-weight: bold;
}

.overlay
{
	border-width: 0px;
	border-color: #787878;
	background-color: #B2B2B2;
	background-color: rgba(0,0,0,0.3);
}

#u6538
{
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 900;
}

#u6537-4
{
	background-color: transparent;
	text-transform: uppercase;
	line-height: 18px;
	text-align: left;
	font-weight: normal;
}

#u13195
{
	background-color: transparent;
}

#buttonu6536:hover #u13195
{
	background-color: transparent;
}

#buttonu6536:active #u13195
{
	background-color: transparent;
}

#u6492,#u6539
{
	display: block;
}

#u6529
{
	background: #FFFFFF url("../images/filetree.jpg") no-repeat center center;
	background-size: contain;
}

#buttonu9294
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	-pie-background: rgba(0,0,0,0.4);
}

#buttonu9294:hover
{
	background-color: #E62D49;
	background-color: rgba(228,22,53,0.9);
	-pie-background: rgba(228,22,53,0.9);
}

#buttonu9294:active
{
	background-color: #E41635;
	background-color: rgba(228,22,53,1);
	-pie-background: rgba(228,22,53,1);
}

#buttonu9294.ButtonSelected
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	-pie-background: rgba(0,0,0,0.4);
}

#u9296-4
{
	background-color: transparent;
	text-align: left;
}

#u9297-4
{
	background-color: transparent;
	text-align: left;
	text-transform: uppercase;
	line-height: 18px;
}

#buttonu6536.ButtonSelected #u13195,#u13645
{
	background-color: transparent;
}

#buttonu9294:hover #u13645
{
	background-color: transparent;
}

#buttonu9294:active #u13645
{
	background-color: transparent;
}

#u13646
{
	display: block;
}

#u6539:hover,#u13646:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u6528
{
	background: transparent url("../images/vintage2-u6528-fr.png") no-repeat right center;
	background-size: cover;
}

#buttonu6530
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	-pie-background: rgba(0,0,0,0.4);
}

#buttonu6530:hover
{
	background-color: #E62D49;
	background-color: rgba(228,22,53,0.9);
	-pie-background: rgba(228,22,53,0.9);
}

#buttonu6530:active
{
	background-color: #E41635;
	background-color: rgba(228,22,53,1);
	-pie-background: rgba(228,22,53,1);
}

#buttonu6530.ButtonSelected
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	-pie-background: rgba(0,0,0,0.4);
}

#u6533-4
{
	background-color: transparent;
	text-align: left;
}

#u6534-4
{
	background-color: transparent;
	text-align: left;
	text-transform: uppercase;
	line-height: 18px;
}

#buttonu9294.ButtonSelected #u13645,#u13183
{
	background-color: transparent;
}

#u6531
{
	display: block;
}

#u8576
{
	background: #FFFFFF url("../images/4-01.png") no-repeat right center;
	background-size: cover;
}

#buttonu8577
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	-pie-background: rgba(0,0,0,0.4);
}

#buttonu8577:hover
{
	background-color: #E62D49;
	background-color: rgba(228,22,53,0.9);
	-pie-background: rgba(228,22,53,0.9);
}

#buttonu8577:active
{
	background-color: #E41635;
	background-color: rgba(228,22,53,1);
	-pie-background: rgba(228,22,53,1);
}

#buttonu8577.ButtonSelected
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	-pie-background: rgba(0,0,0,0.4);
}

#u8580-4
{
	background-color: transparent;
	text-align: left;
}

#u9296,#u6533,#u8580
{
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u8581-4
{
	background-color: transparent;
	text-align: left;
	text-transform: uppercase;
	line-height: 18px;
}

#u6537-2,#u9297-2,#u6534-2,#u8581-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6537,#u9297,#u6534,#u8581
{
	line-height: 16px;
}

#u6535
{
	border-width: 0px;
	background-color: #603813;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

#u6523-17
{
	background: transparent url("../images/u6523-17.png") no-repeat 0px 0px;
}

#u6523-17:hover
{
	background: transparent url("../images/u6523-17-r.png") no-repeat 0px 0px;
}

#u6523-17:active
{
	background: transparent url("../images/u6523-17-m.png") no-repeat 0px 0px;
}

#widgetu6519.frm-sub-st #u6523-17
{
	background: transparent url("../images/u6523-17-fs.png") no-repeat 0px 0px;
}

#widgetu6524
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6526-4
{
	border-width: 0px;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 42px;
	color: #EAEAEA;
	font-size: 35px;
	font-family: raleway, sans-serif;
	font-weight: 100;
}

#widgetu6524.non-empty-st #u6526-4
{
	background-color: transparent;
}

#widgetu6524:hover #u6526-4
{
	background-color: transparent;
}

#widgetu6524.focus-st #u6526-4
{
	background-color: transparent;
}

#widgetu6524_input,#widgetu6524_prompt
{
	color: #EAEAEA;
	font-family: raleway, sans-serif;
	font-size: 35px;
	font-weight: 100;
}

#u6520-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#u6522-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#u6521-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 10px;
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing: 1px;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#widgetu6519.frm-subm-ok-st #u6521-4 p
{
	color: #FFFFFF;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u6517-6
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u6542
{
	background: transparent url("../images/fondorojo.jpg") no-repeat left top;
	background-size: cover;
}

#u6547-6
{
	background-color: transparent;
	font-size: 14px;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-align: left;
}

#u6547-2
{
	font-family: lato, sans-serif;
	font-weight: 700;
}

#u6547-4
{
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u6552-8,#u6546-5
{
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u6555,#u6552,#u6546
{
	letter-spacing: 1px;
}

#u6545
{
	background-color: #000000;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

#u6543-11
{
	background-color: transparent;
	line-height: 17px;
	font-size: 11px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u6543-7
{
	color: #FFFFFF;
}

#u6544
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	background: transparent url("../images/9-8502.jpg") no-repeat center bottom;
	background-size: cover;
}

#u6559
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/about_ico.svg") no-repeat center center;
	background-size: cover;
}

#u6559.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	border-radius: 0px;
	background: #E51937 url("../images/about_active_1co.svg") no-repeat center center;
	background-size: cover;
}

.nosvg #u6559
{
	background-image: url('../images/about_ico_poster_u13590.png');
}

.nosvg #u6559.PamphletThumbSelected
{
	background-image: url('../images/about_active_1co_poster_u13598.png');
}

#u6560-8
{
	background-color: transparent;
	letter-spacing: 2px;
	line-height: 8px;
	font-size: 7px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u6559:hover #u6560-8 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u6557
{
	border-style: solid;
	border-color: #EAEAEA;
	border-width: 1px 0px;
	background: transparent url("../images/news_ico.svg") no-repeat center center;
	background-size: contain;
}

#pu6557.PamphletThumbSelected #u6557
{
	border-width: 0px;
	border-color: transparent;
	border-radius: 0px;
	background: #E51937 url("../images/news_active_ico.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u6557
{
	background-image: url('../images/news_ico_poster_u13655.png');
}

#u6558-5
{
	background-color: transparent;
	letter-spacing: 2px;
	line-height: 8px;
	font-size: 7px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#pu6557:hover #u6558-5 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u6559.PamphletThumbSelected #u6560-8 p,#pu6557.PamphletThumbSelected #u6558-5 p
{
	color: #FFFFFF;
	visibility: inherit;
	letter-spacing: 2px;
	font-size: 7px;
}

.nosvg #pu6557.PamphletThumbSelected #u6557
{
	background-image: url('../images/news_active_ico_poster_u13671.png');
}

#u6561
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/connect_ico.svg") no-repeat center top;
	background-size: cover;
}

#u6561.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	border-radius: 0px;
	background: #E51937 url("../images/connect_over_ico.svg") no-repeat center top;
	background-size: cover;
}

.nosvg #u6561
{
	background-image: url('../images/connect_ico_poster_u4985.png');
}

.nosvg #u6561.PamphletThumbSelected
{
	background-image: url('../images/connect_over_ico_poster_u3270.png');
}

#u6562-4
{
	background-color: transparent;
	letter-spacing: 1px;
	line-height: 8px;
	font-size: 7px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u6561:hover #u6562-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u6561.PamphletThumbSelected #u6562-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 7px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u6820-4
{
	background-color: transparent;
	line-height: 36px;
	text-align: left;
	color: #E41635;
}

#u6488,#u6571,#u6573,#u6575,#u6490,#widgetu6872
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6875-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px;
	color: #252525;
	line-height: 12px;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#widgetu6872.non-empty-st #u6875-4
{
	background-color: #FFFFFF;
}

#widgetu6872:hover #u6875-4
{
	border-color: #6B6B6B;
}

#widgetu6872.focus-st #u6875-4
{
	border-color: #6B6B6B;
}

#widgetu6872.non-empty-st #u6875-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6872:hover #u6875-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6872.focus-st #u6875-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6872_input,#widgetu6872_prompt
{
	color: #252525;
	font-family: open-sans, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
}

#widgetu6876
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#widgetu6524.fld-err-st,#widgetu6872.fld-err-st,#widgetu6876.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u6877-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px;
	line-height: 12px;
	color: #252525;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#widgetu6876.non-empty-st #u6877-4
{
	background-color: #FFFFFF;
}

#widgetu6876:hover #u6877-4
{
	border-color: #6B6B6B;
}

#widgetu6876.focus-st #u6877-4
{
	border-color: #6B6B6B;
}

#widgetu6872.fld-err-st #u6875-4,#widgetu6876.fld-err-st #u6877-4
{
	border-color: #D7244C;
}

#widgetu6876.non-empty-st #u6877-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6876:hover #u6877-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6876.focus-st #u6877-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu6872.fld-err-st #u6875-4 *,#widgetu6876.fld-err-st #u6877-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu6876_input,#widgetu6876_prompt
{
	color: #252525;
	font-family: open-sans, sans-serif;
	font-size: 12px;
	font-weight: 400;
}

#widgetu6524.non-empty-st #widgetu6524_prompt,#widgetu6872.non-empty-st #widgetu6872_prompt,#widgetu6876.non-empty-st #widgetu6876_prompt
{
	visibility: hidden;
}

#u6880-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu6519.frm-sub-st #u6520-4 p,#widgetu6871.frm-sub-st #u6880-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u6881-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu6519.frm-subm-err-st #u6522-4 p,#widgetu6871.frm-subm-err-st #u6881-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u6882-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu6519.frm-sub-st #u6520-4,#widgetu6519.frm-subm-err-st #u6522-4,#widgetu6519.frm-subm-ok-st #u6521-4,#widgetu6871.frm-sub-st #u6880-4,#widgetu6871.frm-subm-err-st #u6881-4,#widgetu6871.frm-subm-ok-st #u6882-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu6871.frm-subm-ok-st #u6882-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u6883-17
{
	background: transparent url("../images/u6883-17.png") no-repeat 0px 0px;
}

#u6883-17:hover
{
	background: transparent url("../images/u6883-17-r.png") no-repeat 0px 0px;
}

#u6883-17:active
{
	background: transparent url("../images/u6883-17-m.png") no-repeat 0px 0px;
}

#widgetu6871.frm-sub-st #u6883-17
{
	background: transparent url("../images/u6883-17-fs.png") no-repeat 0px 0px;
}

#u6896-4
{
	background-color: transparent;
	color: #E41635;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#widgetu6524.fld-err-st #u6526-4,#u6819-4,#u6884,#u6886,#u6888,#u6890,#u6892,#u6894
{
	background-color: transparent;
}

#u6762
{
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
}

#u6818
{
	border-color: #000000;
	background-color: #EBEBEB;
}

#u6761-4
{
	background-color: transparent;
	line-height: 13px;
	color: #252525;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}


