body {
	margin:0;
	padding:0;
	background:#FFFFFF;
}

.panorama {
    position:relative;
    padding-bottom:50%; /* 500 (height) ÷ 1500 (width) = 0.333 = 33.333%)  */
    height:0;
    overflow:hidden;
}

.panorama iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}