<!DOCTYPE html>
<html ng-app="todos">

  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
    <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>

<link rel="stylesheet" href="css/style.css" />
<script src="js/script.js"></script>

  <link rel="stylesheet" type="text/css" href="css/index.css?3852056733" id="pagesheet"/>
  </head>
<!-- Css Contenido -->
<body ng-controller="TodoController" bgcolor="FFF">
    <p align="left">&nbsp;</p>
    <ul >
      <!--Aqui todo se repite porque tiene la etiqueta  ng-repeat="todo in filteredTodos" -->
      
 <div ng-repeat="todo in filteredTodos" id='Panel92'><!-- column -->
   <div id="u136-8" ><!-- content -->
   <span id="u137"><span class="actAsDiv clip_frame" id="u138"><!-- image -->     <p align="center"><img class="block" id="u138_img" src={{todo.preview}} alt="" width="139" height="92"/></p></span></span><p id="u136-2">{{todo.titulo}}</p> 
    <p id="u136-4">{{todo.description}}</p>
    <p align="center">Enlace del recurso: <a href={{todo.link}} target="new">Recurso Europeana</a></p>
   </div>
 </div>
 <h4>{{todos.length}} Resultados</h4>
    </ul>
    <div data-pagination="" data-num-pages="numPages()" 
      data-current-page="currentPage" data-max-size="maxSize"  
      data-boundary-links="true"></div>
    <script>

      function ClearPanel(){
        $("#Panel92").empty();
      }
    </script>
</body>
</html>