.version.index /* version checker */
{
	color: #0000E5;
	background-color: #99B89D;
}

#page
{
	z-index: 1;
	min-height: 267px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F36;
	padding-top: 10px;
	padding-bottom: 10px;
	width: auto;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u136-8
{
	z-index: 2;
	width: 350px;
	min-height: 170px;
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF;
	background-color: rgba(235,235,235,0.8);
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-left: -30px;
	left: 0;
}

#u136-2
{
	font-size: 14px;
	line-height: 22px;
	color: #E41635;
	font-weight: bold;
	padding: 0px 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#u137
{
	float: left;
	margin-right: 17px;
}

#u138
{
	z-index: 6;
	width: 139px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u138_img
{
	padding-bottom: 2px;
	margin-left:: 10%;
	margin-top::: 10%;
	border-width: 5px;
	border-color: transparent;
}

#u136-4,#u136-6
{
	line-height: 13px;
	color: #000000;
	padding: 5px 5px;
	font-size: 12px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

